[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf = "*"
openai = "*"
black = "*"
python-dotenv = "*"
tiktoken = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
